= semantic_form_for(@blog, :url => {:action => "update", :controller => "blogs"}, :html => {:class => 'form-horizontal'}) do |f|
  = f.inputs :name => "New Heirarchy Info" do
    .control-group
      = f.input :title
    .control-group
      = f.input :details
    .control-group
      = f.input :author
    = f.actions do
      .span3
        = f.action :submit, :label => 'Save', :as => :button, :button_html => {:class =>'btn btn-primary'}
      .span2
        = f.action :cancel, :as => :link, :url => root_path, :label => 'Cancel', :button_html => {:class =>'btn'}