= javascript_include_tag :application
= javascript_include_tag "less.js"
= javascript_include_tag "bootstrap/bootstrap-affix.js"
= javascript_include_tag "bootstrap/bootstrap-alert.js"
= javascript_include_tag "bootstrap/bootstrap-button.js"
= javascript_include_tag "bootstrap/bootstrap-carousel.js"
= javascript_include_tag "bootstrap/bootstrap-collapse.js"
= javascript_include_tag "bootstrap/bootstrap-dropdown.js"
= javascript_include_tag "bootstrap/bootstrap-modal.js"
= javascript_include_tag "bootstrap/bootstrap-popover.js"
= javascript_include_tag "bootstrap/bootstrap-scrollspy.js"
= javascript_include_tag "bootstrap/bootstrap-tab.js"
= javascript_include_tag "bootstrap/bootstrap-tooltip.js"
= javascript_include_tag "bootstrap/bootstrap-transition.js"
= javascript_include_tag "bootstrap/bootstrap-typeahead.js"
